label {
    
    color:black;
    /*font-size: 20px;
    text-align: center;*/
}
/*.button {
    background-color:cornflowerblue; 

    padding: 1px 10px;
    text-align: center;
 
    
    font-size: 15px;
}*/