  <div class="floating-card thumbnail bg-primary col-sm-3" style="width:250px">
    <img src={{person.image_url}} style="width:100%">
    <div class="caption">
      <h4>{{person.first_name}} {{person.last_name}}</h4>
      <h6>{{person.city}}</h6>
      <p>השכלה:  {{person.education}}</p>
      <p>חברה:  {{person.company}}</p>
      <p>תפקיד:  {{person.position}}</p>
      <p>שנות נסיון:  {{person.experience_years}}</p>
      <p style="font-weight: bold; font-size: 16px;">מידת התאמה: {{person.matchRatio}}%</p>
      <a href="#" class="btn btn-info">פרטים נוספים</a>
    </div>
</div>
