<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <!-- <img src="assets/img/ngx-bootstrap.svg" class="logo"> -->
            </a>
            <img src="assets/highlike-sign.png" class="navbar-brand">
            <span class="navbar-brand">{{title}}</span>
        </div>
        <ul class="nav navbar-nav">
            <li id="filterCandidatesNavbarItem" [class.active]="selectedFeature === 'filterCandidates'">
                <a href="#" (click)="selectedFeature = 'filterCandidates'">איתור מועמדים</a>
            </li>
            <li id="generateProfileNavbarItem" [class.active]="selectedFeature === 'generateProfile'">
                <a href="#" (click)="selectedFeature = 'generateProfile'">הפקת פרופיל</a>
            </li>
            <li id="presentationNavbarItem" [class.active]="selectedFeature === 'presentation'">
                <a style="color: blue;" href="#" (click)="selectedFeature = 'presentation'">סקירת קורס</a>
            </li>
        </ul>
    </div>
</nav>
<div *ngIf="selectedFeature === 'filterCandidates'">
    <app-filter-candidates></app-filter-candidates>
</div>
<h1 style="text-align: center;" *ngIf="selectedFeature === 'generateProfile'">עמוד זה בפיתוח...</h1>
<app-review *ngIf="selectedFeature === 'presentation'"></app-review>