<h1 id="title" style="text-align: center">{{title}}</h1>
<div style="margin: 20px;">
    <form>
        <input id="findCandidatesButton" type="radio" value="findCandidates" name="selectedFeature" [(ngModel)]="selectedFeature">איתור מועמדים
        <input id="generateProfileButton" type="radio" value="generateProfile" name="selectedFeature" [(ngModel)]="selectedFeature">הפקת פרופיל
    </form>
    <h1 *ngIf="selectedFeature === 'findCandidates'">ברוכים הבאים לאיתור מועמדים</h1>
    <h1 *ngIf="selectedFeature === 'generateProfile'">ברוכים הבאים להפקת פרופיל</h1>
</div>