<table class="table">
  <tbody>
    <tr>
      <td><div [class.expand-thumbnail]="fullScreen" class="thumbnail review-thumbnail"><h3>E2E</h3><button (click)='fullScreen = !fullScreen'>{{fullScreen ? 'הגדל' : 'צמצם'}}</button></div></td>
      <td><div class="thumbnail review-thumbnail"></div></td>
      <td><div class="thumbnail review-thumbnail"></div></td>
    </tr>
    <tr>
      <td><div class="thumbnail review-thumbnail"></div></td>
      <td><div class="thumbnail review-thumbnail"></div></td>
      <td><div class="thumbnail review-thumbnail"></div></td>
    </tr>
    <tr>
      <td><div class="thumbnail review-thumbnail"></div></td>
      <td><div class="thumbnail review-thumbnail"></div></td>
      <td><div class="thumbnail review-thumbnail"></div></td>
    </tr>
  </tbody>
</table>